@{
    ViewBag.Title = "Адрес";
}
<h2>@ViewBag.Title</h2>
<h4>Главный офис</h4>

<address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2558.613420886101!2d36.21102523700809!3d50.019891141062224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a1394035c3a3%3A0xc436d3e3ebcb7753!2z0YPQuy4g0J3QvtCy0LPQvtGA0L7QtNGB0LrQsNGP!5e0!3m2!1sru!2sua!4v1584090936266!5m2!1sru!2sua" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <br />
    Харьковская область, город Харьков,<br />
    улица Новгородская 190А<br />
    <abbr title="Kyivstar">Телефон: </abbr>
    +380-973-618-999<br />
    <abbr title="MTS">Телефон: </abbr>
    +380-956-612-484
</address>

<address>
    <strong>Поддержка клиентов:</strong>   <a href="mailto:I-Provider-support@gmail.com">I-Provider-support@gmail.com</a><br />
    <strong>Отдел маркетинга:</strong> <a href="mailto:I-Provider-marketing@gmail.com">I-Provider-marketing@gmail.com</a>
</address>



