@using I_Provider.DAL.Entities
@model System.Collections.Generic.IEnumerable<TariffPlan>
@{
    ViewBag.Title = "I-Provider";
}
    @*<div class="image-background">
        <img src="https://www.prysmiangroup.com/sites/default/files/thumbnails/image/nexst-header-1.jpg" alt="">
    </div>*@
    <div id="prd" class="product main @*animated rollIn*@">
        <h1 class="glyphicon glyphicon-menu-up animated fadeInUp infinite" style="color:#28bb9c; left:115px; top:-30px"></h1>
        <h1 style="color:#28bb9c; left:90px; top:20px; position:absolute">Больше</h1>
        <h3 style="position:absolute; color:#28bb9c; left:60%; top:100px">более 200 каналов в HD качестве</h3>
        <h3 style="position:absolute; color:#28bb9c; left:60%; top:50px">Скорость до 900 Mбит</h3>
        <div style="margin-top:120px">
            <h2 style="left:10%; position:relative; font-size:40px"><span class="glyphicon glyphicon-ok"></span> Доступные цены</h2>
            <h2 style="left:10%; position:relative; font-size:40px"><span class="glyphicon glyphicon-ok"></span> Выгодные тарифы</h2>
            <h2 style="left:10%; position:relative; font-size:40px"><span class="glyphicon glyphicon-ok"></span> Высокая скорость интернета</h2>
            <h2 style="left:10%; position:relative; font-size:40px"><span class="glyphicon glyphicon-ok"></span> Скидки до 15%</h2>
            <h2 style="left:10%; position:relative; font-size:40px"><span class="glyphicon glyphicon-ok"></span> Безплатное подключение</h2>
        </div>
        <div class="area">
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
