@{
    ViewBag.Title = "Ошибка 404";
}
<div id="error404">
    <h1 class="animated bounce infinite delay-1s">404</h1>
    <h2>Ресурс не найден</h2>
    <h3>Что-то пошло не так</h3>
    <h3>@ViewBag.Status</h3>
</div>